In [5]:
# Exercício 1 – Soma dos elementos
# Escreva um programa que receba uma lista de números e exiba a soma de todos os elementos.
numeros = [10, 20, 30, 40] 
soma = sum(numeros)
soma
#Saída: A soma é 100

100

In [9]:
# Exercício 2 – Adicionando um elemento
# Crie uma lista chamada frutas com 3 frutas de sua escolha.
# Depois, adicione mais uma fruta usando o método append() e exiba a lista.

listaFrutas = ["uva", "maca", "banana"]

listaFrutas.append("pera")
listaFrutas

['uva', 'maca', 'banana', 'pera']

In [12]:
# Exercício 3 – Acessando um valor específico
# Crie uma lista chamada cores com as cores: 'azul', 'verde', 'amarelo', 'vermelho'
# Mostre apenas a cor 'verde' usando o índice.
listaCores = ["azul", "Verde", "Amarelo", "vermelho"]
listaCores[1]

'Verde'

In [13]:
# Exercício 4 – Acessando com índice negativo
# Crie uma lista chamada linguagens com os valores: 'Python', 'Java', 'C++', 'JavaScript'
# Mostre o último item da lista usando índice negativo.

listaLinguagens = ["Python", "Java", "C++", "JavaScript"]
listaLinguagens[-1]

'JavaScript'

In [15]:
# Exercício 5 – Fatiamento (slice)
# Crie uma lista chamada nomes com os valores: 'Ana', 'Bruno', 'Carlos', 'Diana', 'Eduarda'
# Mostre apenas os nomes 'Bruno' e 'Carlos' usando fatiamento da lista.

listaNomes = ["Ana", "Bruno", "Carlos", "Diana", "Eduardo"]

listaNomes[1:3]

['Bruno', 'Carlos']

In [ ]:
#Alterando o valor do indice 0
listaNomes[0] = "Alterado"
listaNomes

['Alterado', 'Bruno', 'Carlos', 'Diana', 'Eduardo']

In [ ]:
#Tuplas
#As tuplas são listas que não podem ser alteradas
#São valores imutaveis

diasSemana = ("seg", "ter", "qua", "qui", "Sex")
diasSemana[ 1:4]
#imprimindo somente ter, qua e qui

('ter', 'qua', 'qui')

In [19]:
# Criando um dicionário com 5 nomes e idades
dicionario = {
    "Ana": 25,
    "Bruno": 30,
    "Carlos": 35,
    "Diana": 28,
    "Eduardo": 40
}
dicionario

{'Ana': 25, 'Bruno': 30, 'Carlos': 35, 'Diana': 28, 'Eduardo': 40}

In [ ]:
# Acessando valores no dicionario
# acessando idade da Ana
dicionario["Ana"]

25

In [21]:
dicionario["Bruno"] = 31
# Alterando idade do BrunoS 
dicionario
# Adicionando um novo elemento ao dicionário

{'Ana': 25, 'Bruno': 31, 'Carlos': 35, 'Diana': 28, 'Eduardo': 40}

In [23]:
# Adicionando um novo nome e idade ao dicionário
usuarios = [
    {"nome": "Ana", "idade": 25},
    {"nome": "Bruno", "idade": 31},
    {"nome": "Carlos", "idade": 35},
    {"nome": "Diana", "idade": 28},
    {"nome": "Eduardo", "idade": 40}
]
usuarios

[{'nome': 'Ana', 'idade': 25},
 {'nome': 'Bruno', 'idade': 31},
 {'nome': 'Carlos', 'idade': 35},
 {'nome': 'Diana', 'idade': 28},
 {'nome': 'Eduardo', 'idade': 40}]

In [ ]:
import pandas as pd     

df = pd.DataFrame(usuarios)
df
# criando um dataframe com os dados do dicionario
# Exibindo o dataframe

      nome  idade
0      Ana     25
1    Bruno     31
2   Carlos     35
3    Diana     28
4  Eduardo     40