In [10]:
import pandas as pd
# Importando pandas para manipulação de dados
# Importing pandas for data manipulation

In [11]:
fileName = 'Sales2022.csv'
# Importing the CSV file containing sales data
# Definindo o nome do arquivo CSV contendo os dados de vendas

# This block of code defines the data types for specific columns in the CSV file.
# Este bloco de código define os tipos de dados para colunas específicas no arquivo CSV.
list_types ={
    'CustomerNumber': str,
    'SalesOrder': str, #Altering to str
}

# This function reads the CSV file and specifies the data types for certain columns.
# Esta função lê o arquivo CSV e especifica os tipos de dados para certas colunas.
df = pd.read_csv(fileName, dtype = list_types, parse_dates= ['SalesDate'])

In [12]:
# Displaying the first two rows of the DataFrame to verify the data has been loaded correctly.
# Exibindo as duas primeiras linhas do DataFrame para verificar se os dados foram carregados corretamente.
df.head(2)

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
0,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-01-23,32172210,60,0.00
1,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-02-13,32192966,60,249.12

In [13]:
#df.dtypes
# Verifying the data types of the DataFrame to ensure they match the expected types.
# Verificando os tipos de dados do DataFrame para garantir que correspondam aos tipos esperados.

### Selecionando Colunas

In [ ]:
df.columns
# Displaying the columns of the DataFrame to understand its structure.  
# Exibindo as colunas do DataFrame para entender sua estrutura.

# Adicionando as colunas em uma variavel
# Adding the columns to a variable
colunas = ['Country', 'State', 'City',
       'PlantName', 'MaterialNumber', 'BusinessLine', 'Category', 'SalesDate',
       'SalesOrder', 'Volume', 'Revenue']

df[colunas].head(2)
# Displaying the first two rows of the specified columns to check their values.
# Exibindo as duas primeiras linhas das colunas especificadas para verificar seus valores.

,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
0,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-01-23,32172210,60,0.00
1,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-02-13,32192966,60,249.12

### Filtrando Dados

In [24]:
#df['City'].unique()
# Displaying the unique values in the 'City' column to understand the different cities represented in the data. 
# Exibindo os valores únicos na coluna 'City' para entender as diferentes cidades representadas nos dados.

# Filtrando apenas Sorocaba
# Filtering the DataFrame to include only rows where the 'City' is 'Sorocaba'.  

sorocaba_df = df[df['PlantName'] == 'Sorocaba']
sorocaba_df.head()

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
13258,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1039,Lubrificantes,CA03,2020-10-26,32608620,146,305.65
13259,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1039,Lubrificantes,CA03,2021-01-06,32663300,146,133.95
13260,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-04,32171451,120,57.58
13261,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-22,32172133,120,57.58
13262,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-30,32172477,120,57.58