In [22]:
import pandas as pd
# Importando pandas para manipulação de dados
# Importing pandas for data manipulation

In [23]:
fileName = 'Sales2022.csv'
# Importing the CSV file containing sales data
# Definindo o nome do arquivo CSV contendo os dados de vendas

# This block of code defines the data types for specific columns in the CSV file.
# Este bloco de código define os tipos de dados para colunas específicas no arquivo CSV.
list_types ={
    'CustomerNumber': str,
    'SalesOrder': str, #Altering to str
}

# This function reads the CSV file and specifies the data types for certain columns.
# Esta função lê o arquivo CSV e especifica os tipos de dados para certas colunas.
df = pd.read_csv(fileName, dtype = list_types, parse_dates= ['SalesDate'])

In [24]:
# Displaying the first two rows of the DataFrame to verify the data has been loaded correctly.
# Exibindo as duas primeiras linhas do DataFrame para verificar se os dados foram carregados corretamente.
df.head(2)

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
0,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-01-23,32172210,60,0.00
1,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-02-13,32192966,60,249.12

In [25]:
df.dtypes
# Verifying the data types of the DataFrame to ensure they match the expected types.
# Verificando os tipos de dados do DataFrame para garantir que correspondam aos tipos esperados.

CustomerNumber            object
CustomerName              object
Country                   object
State                     object
City                      object
PlantName                 object
MaterialNumber            object
BusinessLine              object
Category                  object
SalesDate         datetime64[ns]
SalesOrder                object
Volume                     int64
Revenue                  float64
dtype: object