Tipo de dados em Python

In [5]:
#inteiro
#Float
#string
#booleano

LISTAS

In [6]:
#Declarando listas
minhaLista = ['nome', 'isac', 'renan', '37', 'dados']
minhaLista

['nome', 'isac', 'renan', '37', 'dados']

In [7]:
#adicionando elementos na lista funcao append

minhaLista.append('Diana')
minhaLista

['nome', 'isac', 'renan', '37', 'dados', 'Diana']

In [17]:
#Buscando valores por indice
# o indice inicia-se em zero
idadeAlunos = [20, 30, 35, 35, 40, 25]

#acessando o indice
#não usar sinal de igual para exbir
idadeAlunos[0]

20

In [ ]:
# é possivel acessar valor da direita para esquera
# usar valor do indice negativo
# OBS da direita para esquerda indice inicia-se em 1
idadeAlunos[- 2]

40

In [ ]:
# acessando um intervalo de valores na lista
# acessar somente o nome Isac Renan
# OBS: o ultimo valor nao e exibido, prestar atençao nisso.

minhaLista[1:3]

['isac', 'renan']